.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-container {
    max-width: 800px; /* Ajusta el ancho máximo según tu preferencia */
    margin: 0 auto; /* Centra horizontalmente */
}

.page-container {
    max-width: 800px; /* Establece el ancho máximo según tu preferencia */
    margin: 0 auto; /* Centra horizontalmente */
    background-color: #ccebff; /* Cambia el color de fondo si lo deseas */
    padding: 20px; /* Agrega un poco de espacio alrededor del contenido */
  }
  
.logo {
    width: 40px; /* Ajusta el tamaño de tu logo según sea necesario */
    margin-right: 10px; /* Espacio entre el logo y el texto */
}

.carousel-item img {
    width: 100%; /* Asegura que las imágenes ocupen el ancho completo del contenedor */
    height: 450px; /* Establece la altura deseada para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen manteniendo su relación de aspecto */
}

.footer {
    background-color: #007bff; /* Color primario del navbar */
    color: #fff; /* Texto en color blanco */
    padding: 40px 0;
}

.info-box h4 {
    color: #fff; /* Color del texto del título */
}

.info-box p {
    color: #f0f0f0; /* Color del texto del cuerpo */
}

.table-sm tr,
.table-sm tr {        
    background-color: #007bff;
 }
.card-body {
        padding: auto;
        margin: auto;
        font-size: 14px; /* Tamaño de fuente más pequeño */
        text-align: justify; /* Texto justificado */

}
.image-container {
        display: flex;
        justify-content: center;
}

.table-sm th,
.table-sm td {
        padding: 0.2rem;
}

.card-body {
        padding: auto;
        margin: auto;
        font-size: 20px; 
        text-align: justify; 
}
.image-container {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
}

.p {
    margin-left: 500px;
    margin-right: 500px;
}  
.video {
    margin: 20px auto;
    display: block;
    background-color: #007bff;
    padding: 10px;
}
.tabla-color {
    background-color: #007bff; 
}    

.image-container img {
        margin: 10px;
        Max-width: 50%; 
} 

.card {
        transition: transform 0.3s ease;
}

.card:hover {
        transform: scale(1.1);
}

.news-details {
    padding: 20px; /* Agrega un poco de espacio alrededor del contenido */
}

.news-image {
    max-width: 100%; /* Asegura que la imagen no exceda su contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
}

.cursiva {
    font-style: italic; /* Aplica estilo cursiva */
    font-weight: normal; /* Evita que sea en negrita */
}

.texto-pequeno {
    font-size: 25px; /* Ajusta el tamaño según tus necesidades */
}

.body {
    background-color: #f8f9fa; /* Gris claro */
}

.news-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.cursiva {
    font-style: italic;
}
.texto-pequeno {
    font-size: 14px; /* Ajusta el tamaño según tus necesidades */
}
.navbar {
    margin-bottom: 0; /* Elimina el margen inferior de la barra de navegación */
}

.background-light-gray {
    background-color: #f8f9fa; /* Gris claro */
    padding: 20px 0;
}
.news-container, .latest-news-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.centrar {
    text-align: center;
  }