<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Histórico resultado en Roma: Alejandro Tabilo vence a Novak Djokovic</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  

     <!---NAVBAR-->
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <!-- Logo al lado izquierdo -->
      <a class="navbar-brand" href="principal.html">
        <img src="Imagenes/Logo-principal.png" alt="Logo" class="logo"> 
        NewsCL
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="principal.html"> Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="actualidad.html"> Actualidad </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Economia.html"> Economia </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="deporte.html"> Deportes </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactanos.html"> Contactanos </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    

      <!---FIN NAVBAR-->



      <br>
      <br>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="news-container">

            <h1 class="centrar">Histórico resultado en Roma: Alejandro Tabilo vence a Novak Djokovic &#127934;	</h1>
      <br>
      <br>
      <br>
            <img class="container video" src="Imagenes/Alejandro-Tabilo-1.jpg" alt="basketboll" height="500" width="700">
    
      <br>
      <br>
      <br>
    
    
      <p >En un emocionante partido en el Abierto de Roma, el tenista chileno Alejandro Tabilo sorprendió al mundo del tenis al derrotar al número uno del mundo, Novak Djokovic, en un encuentro lleno de intensidad y determinación.

        Tabilo, quien ingresó al torneo como un jugador clasificado, mostró un desempeño impresionante desde el principio, desafiando a Djokovic con su agresivo juego y habilidad en la cancha de arcilla.
        
        A pesar de enfrentarse a un oponente con múltiples títulos de Grand Slam y una vasta experiencia en el circuito, Tabilo no se amilanó y mantuvo su enfoque y determinación en cada punto del partido.
        
        El encuentro culminó con una victoria histórica para Tabilo, quien cerró el partido con un marcador final de 6-4, 6-3 a su favor, asegurando así un lugar en los libros de historia del tenis chileno y dejando atónitos a los aficionados en el Foro Itálico de Roma.
        
        La victoria de Tabilo sobre Djokovic representa un hito significativo en su carrera y un recordatorio del talento emergente en el mundo del tenis. Para Djokovic, esta derrota inesperada servirá como un recordatorio de la imprevisibilidad del deporte y la competitividad creciente en el circuito ATP.</p>
        <BR>
        <BR>

        <h2>AQUI LOS MEJORES MOMENTOS</h2>
        <video controls class="video container" src="videos/tenis1.mp4" ></video>
      </div>    
</body>
</html>