{% extends "base.html" %}

{% load static %}

{% block title %}
    Actualidad
{% endblock %}

{% block content %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="news-container">
              <!-- noticia -->
              <h1>MULTIMILLONARIOS COMPRARON CASA DE MARILYN MONROE EN LOS ÁNGELES Y PLANEAN SU DEMOLICIÓN</h1>
              <br>
              <h2 class="cursiva texto-pequeno">
                Su afán por reducir el inmueble a escombros alcanzó niveles exorbitantes, tanto así que demandaron a la propia ciudad para concretar su demolición. La acción judicial tuvo lugar el pasado 6 de mayo, pero hace tan solo unos días se conoció el motivo del matrimonio.
              </h2>
              <br>
              <img src="/Multimillonarios.webp" alt="Imagen de la noticia" class="news-image img-fluid">
              <br><br>
              <p>Una pareja de multimillonarios encendió la polémica luego de que concretaran la compra por unos 8,35 millones de dólares de la primera y única casa de la actriz y modelo estadounidense, Marilyn Monroe. ¿El motivo de la controversia? La pareja planea demolerla.
                <br>
                <br>
                Los protagonistas de la historia son el matrimonio compuesto por Brinah Milstein y el productor Roy Bank, quienes en agosto del año pasado se hicieron con la casa de 270 metros de estilo español con toques coloniales, situada en el exclusivo barrio de Brentwood, al oeste de Los Ángeles.
                <br>
                <br>
                Y es que el problema no fue la adquisición de la residencia, sino más bien lo que quieren hacer con ella. Su afán por demoler el inmueble alcanzó niveles exorbitantes, tanto así que demandaron a la propia ciudad para poder reducirla a escombros. La acción judicial tuvo lugar el pasado 6 de mayo, pero hace tan solo unos días se conoció la intención del matrimonio.
                <br>
                <br>
                Milstein y Bank viven en la mansión vecina, por lo que conocen bien el territorio. Desde un comienzo su objetivo fue demolerla, puesto que, según se conoce, pretenden construir una nueva vivienda y ampliar su propiedad.
                <br>
                <br>
                Sin embargo, han encontrado piedras en el camino. En septiembre, la casa de Monroe fue nominada por el Departamento de Planificación Ciudadana de Los Ángeles para que entrara a la lista de Monumentos Histórico-Cultural de la ciudad, hecho que paralizó la demolición.
                <br>
                <br>
                No obstante, puede que los esfuerzos no sean suficientes. La pareja de magnates argumentó que la casa ha tenido 14 dueños durante los últimos 60 años, por lo que ha sufrido importantes modificaciones que fueron concedidos mediante una docena de permisos, según recogió Los Angeles Times.
                <br>
                <br>
                Asimismo, apuntaron a que los responsables de la ciudad actuaron de forma inconstitucional y los acusó de planear “maquinaciones abiertas” para conservar un lugar que, bajo su criterio, no merece ser considerado un monumento.
                <br>
                <br>
                “No hay un solo elemento de la casa que incluya una prueba física de que Marilyn Monroe pasó un solo día en ella, ni un solo mueble, ni un trozo de pintura descascarillada, ni una alfombra, nada”, indican en la denuncia.
                <br>
                <br>
                La noticia ha generado gran polémica y malestar en la ciudad estadounidense, la cual ya ha perdido importantes edificios debido a la falta de conservación y cuidados de parte de las autoridades.
              </p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}