{% extends "base.html" %}

{% load static %}

{% block title %}
    Actualidad
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="news-container">
        <h1 class="centrar">Sanción de cuatro partidos para Patrick Beverley por dar un balonazo en la cabeza a un aficionado &#127936;</h1>
      <br>
      <br>
      <br>
        <img class="container video" src="Imagenes/basketboll.webp" alt="basketboll" height="500" width="700">
    
      <br>
      <br>
      <br>
    
    
      <p >En un giro impactante durante el último encuentro de la temporada regular de la NBA, Patrick Beverley, jugador de los Minnesota Timberwolves, ha sido sancionado con cuatro partidos tras lanzar un balonazo a la cabeza de un aficionado.

        El incidente tuvo lugar durante el tercer cuarto del partido entre los Timberwolves y los Oklahoma City Thunder, cuando Beverley, tras perder el balón fuera de la cancha, reaccionó de manera violenta y arrojó el balón directamente hacia un espectador en las primeras filas.
        
        La acción fue captada por las cámaras y generó una ola de críticas hacia Beverley, tanto de los aficionados como de la comunidad del baloncesto. La NBA rápidamente tomó medidas disciplinarias, anunciando una suspensión de cuatro partidos para el jugador como consecuencia de su comportamiento.
        
        Esta sanción significa que Beverley se perderá los primeros cuatro partidos de los Timberwolves en los playoffs, lo que representa un golpe significativo para el equipo en un momento crucial de la temporada.
        
        La NBA ha reiterado su compromiso con la seguridad de los espectadores y ha recordado a los jugadores la importancia de mantener la compostura en situaciones de alta presión.</p>
        <BR>
        <BR>
    </div>      
{% endblock %}
  