<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PRESIDENTE DE NINTENDO CONFIRMÓ QUE LA SUCESORA DE NINTENDO SWITCH SERÁ ANUNCIADA ESTE AÑO</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  

     <!---NAVBAR-->
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <!-- Logo al lado izquierdo -->
      <a class="navbar-brand" href="principal.html">
        <img src="Imagenes/Logo-principal.png" alt="Logo" class="logo"> 
        NewsCL
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="principal.html"> Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="actualidad.html"> Actualidad </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Economia.html"> Economia </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="deporte.html"> Deportes </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactanos.html"> Contactanos </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    

      <!---FIN NAVBAR-->
      
      <br>
      <br>
      <br>
      <br>
      <br>
      
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="news-container">
              <!-- noticia -->
              <h1>PRESIDENTE DE NINTENDO CONFIRMÓ QUE LA SUCESORA DE NINTENDO SWITCH SERÁ ANUNCIADA ESTE AÑO</h1>
              <br>
              <h2 class="cursiva texto-pequeno">
                “Por primera vez en nueve años desde que se anunció la existencia de Nintendo Switch en marzo de 2015, haremos un anuncio sobre el sucesor de Switch durante este período”, escribió el presidente de la compañía nipona, Shuntaro Furukawa.
              </h2>
              <br>
              <img src="Imagenes/Noticia3-switch.webp" alt="Imagen de la noticia" class="news-image img-fluid">
              <br><br>
                La mañana de este martes no fue nada gris para los fanáticos de Nintendo, quienes despertaron con una esperanzadora noticia: La consola sucesora de Nintendo Switch, popularmente conocida como “Switch 2”, será anunciada este año.
                <br>
                <br>
                Así lo confirmó a través de su cuenta de X el presidente de la compañía Shuntaro Furukawa, quien aseguró que la nueva consola será anunciada dentro de este año fiscal, es decir, entre mayo del 2024 y el 31 de marzo de 2025, siguiendo los lineamientos del año fiscal japonés.
                <br>
                <br>
                “Este es Furukawa, el presidente. Por primera vez en nueve años desde que se anunció la existencia de Nintendo Switch en marzo de 2015, haremos un anuncio sobre el sucesor de Switch durante este período”, escribió Furukawa.
                <br>
                <br>
                Asimismo, Furukawa sostuvo que durante junio se realizará un Nintendo Direct. Sin embargo, fue claro en subrayar que “no se mencionará a la sucesora de la Nintendo Switch durante esa presentación”, destruyendo el corazón de los nintenderos.
                <br>
                <br>
                Según consignó Vandal, la consola tendrá un tamaño superior a su predecesora y contará con un sistema de joy-con magnéticos. Asimismo, se asegura que la pantalla será de 8 pulgadas (1 más que la Switch original) y que contará con una resolución de 1080p en su modo portátil, alcanzando el 4K jugando en dock.
                <br>
                <br>
                Nintendo anunció la primera consola Nintendo Switch en 2015, saliendo a la venta en 2017. Desde su salida han lanzado diferentes versiones del dispositivo, como es la versión Lite y OLED. Dentro de su amplio catálogo de juegos se encuentran títulos como “Super Mario Odyssey”; “Super Smash Bros. Ultimate”; “The Legend of Zelda: Breath of the Wild” y “Tears of The Kingdom”; Metroid Prime Remastered”, entre otros.
            </div>
          </div>
        </div>
      </div>

<!-- jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>



