{% extends "base.html" %}

{% load static %}

{% block title %}
    Actualidad
{% endblock %}

{% block content %}

<!-- Tendencias -->
<div class="container-fluid mt-5 mb-3 pt-3">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-12">
              <div class="d-flex justify-content-between">
                  <div class="section-title border-right-0 mb-0" style="width: 180px;">
                      <h4 class="m-0 text-uppercase font-weight-bold">Tendencia</h4>
                  </div>
                  <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center bg-white border border-left-0"
                      style="width: calc(100% - 180px); padding-right: 100px;">
                      <div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="{% url 'noticiaEncerrona'%}">HABLA VÍCTIMA DE ENCERRONA TRAS SU MATRIMONIO: “ESPERO ALGÚN DÍA VENCER ESTE MIEDO Y RECUPERAR LA ESPERANZA”</a></div>
                      <div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="{% url 'noticiaNintendo'%}">PRESIDENTE DE NINTENDO CONFIRMÓ QUE LA SUCESORA DE NINTENDO SWITCH SERÁ ANUNCIADA ESTE AÑO</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- fin tendencias -->

<!-- noticia -->
<div class="container-fluid">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <!-- inicio noticia -->
              <div class="position-relative mb-3">
                  <img class="img-fluid w-100" src="{% static 'img/noticia2-inicio.webp' %}" style="object-fit: cover;">
                  <div class="bg-white border border-top-0 p-4">
                      <div class="mb-3">
                          <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                            href="{% url 'actualidad'%}">Actualidad</a>
                          <a class="text-body" href="">4 de Julio, 2024</a>
                      </div>
                      <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">LULA RETRASA SU VISITA A CHILE DEBIDO A INUNDACIONES EN BRASIL</h1>
                      <p>El jefe de Estado mantenía una visita programada a Chile el 17 y 18 de mayo, donde tendría un encuentro bilateral con el Presidente Gabriel Boric. 
                      <p>El presidente de Brasil, Luiz Inácio Lula da Silva, aplazó la visita oficial programada que realizaría a Chile a partir del próximo viernes para centrarse a las urgencias provocadas por las inundaciones en el sur de Brasil que han dejado al menos 146 fallecidos, según informó la cancillería brasileña.
                          <br>
                          <br>
                          Mediante un comunicado compartido este lunes, se explica que la visita del mandatario fue aplazada “ante la necesidad de darle seguimiento a la situación de las inundaciones en Rio Grande do Sul y a la coordinación de la atención a la población afectada y de las tareas de reconstrucción”.
                          <br>
                          <br>
                          De acuerdo con el último balance de la Defensa Civil de Brasil, las inundaciones han dejado un saldo de 146 muertos, 806 heridos y 132 personas desaparecidas. A su vez, al menos 619 mil personas han sido desplazadas producto de las fuertes precipitaciones, donde al menos 80 mil se mantienen alojadas en albergues.
                          <br>
                          <br>
                          El jefe de Estado mantenía una visita programada a Chile el 17 y 18 de mayo, donde tendría un encuentro bilateral con el Presidente Gabriel Boric y participaría en un seminario de empresarios de ambos países organizado por la Agencia de Promoción de las Exportaciones Brasileñas (Apex).
                          <br>
                          <br>
                          Según consignó Emol, el objetivo primordial de su visita era sumar al mandatario chileno entre los presidentes que apoyan la iniciativa brasileña de reforzar la Unión de las Naciones Sudamericanas (Unasur).
                          <br>
                          <br>
                          El Instituto Nacional de Meteorología prevé que todo el estado de Rio Grande do Sul siga afectado por “lluvias intensas” durante las próximas horas, alcanzando más de 100 mm por día en algunas zonas.
                        </p>

                  </div>
                  <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                      <div class="d-flex align-items-center">
                          <img class="rounded-circle mr-2" src="{% static 'img/rene.jpg' %}" width="25" height="25" alt="">
                          <span>Rene Puentes</span>
                      </div>
                      <div class="d-flex align-items-center">
                          <span class="ml-3"><i class="far fa-eye mr-2"></i>1500</span>
                          <span class="ml-3"><i class="far fa-comment mr-2"></i>90</span>
                      </div>
                  </div>
              </div>
            </div>
        
<!-- fin noticia -->
        
<div class="col-lg-4">
  <!-- redes -->
  <div class="mb-3">
      <div class="section-title mb-0">
          <h4 class="m-0 text-uppercase font-weight-bold">¡Síguenos!</h4>
      </div>
      <div class="bg-white border border-top-0 p-3">
          <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
              <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
              <span class="font-weight-medium">6.241 Seguidores</span>
          </a>
          <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
              <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
              <span class="font-weight-medium">15.000 Seguidores</span>
          </a>
          <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
              <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
              <span class="font-weight-medium">15,645 Followers</span>
          </a>
          <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
              <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
              <span class="font-weight-medium">12,345 Suscriptores</span>
          </a>
      </div>
  </div>

  <!-- anuncios :D -->
  <div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Anuncios</h4>
    </div>
    <div class="bg-white text-center border border-top-0 p-3">
        <a href=""><img class="img-fluid" src="{% static 'img/publicidad1.webp' %}" alt=""></a>
    </div>
    <div class="bg-white text-center border border-top-0 p-3">
      <a href=""><img class="img-fluid" src="{% static 'img/publicidad2.jpg' %}" alt=""></a>
  </div>
</div>
<!-- fin anuncios -->


<!-- tagsss -->

  <div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        <div class="d-flex flex-wrap m-n1">
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Actualidad</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Economía</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Deportes</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Tecnología</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Cultura</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Salud</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Internacional</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Medio Ambiente</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Opinión</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Política</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Ciencia</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Entretenimiento</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Viajes</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Educación</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Negocios</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Finanzas</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Estilo de Vida</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Investigación</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Cine</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Música</a>
        </div>
    </div>
</div>
</div>
</div>
</div>
  <!-- fin de tags -->

{% endblock %}



