{% extends "base.html" %}

{% load static %}

{% block title %}
    Actualidad
{% endblock %}
{% block content %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="news-container">
              <!-- noticia -->
              <h1 class="centrar">Victoria del Arsenal en old Traford &#9917;	</h1>
      <br>
      <br>
      <br>
            <img class="container video" src="Imagenes/arsenal.jpg" alt="arsenal" >
    
      <br>
      <br>
      <br>
    
    
      <p >En un emocionante encuentro el domingo 12 de mayo de 2024 en Old Trafford, el Arsenal aseguró una victoria crucial sobre el Manchester United con un marcador final de 1-0. El único gol del partido llegó en los minutos finales, cuando Leandro Trossard del Arsenal aprovechó una brillante jugada colectiva para batir al portero del Manchester United y desatar la euforia entre los aficionados visitantes.

        El partido estuvo lleno de tensión y acción, con ambos equipos luchando por conseguir los tres puntos. El Manchester United buscaba defender su fortaleza en casa, pero el Arsenal demostró determinación y resistencia en defensa, frustrando los intentos del Manchester United de encontrar el gol.
        
        El gol de Trossard en Old Trafford fue celebrado con entusiasmo por los aficionados del Arsenal, quienes viajaron para apoyar a su equipo en este crucial enfrentamiento. La victoria dejó al Arsenal con una sensación de satisfacción y dio un impulso importante a sus esperanzas de asegurar un lugar en competiciones europeas, mientras que el Manchester United se vio obligado a regresar a casa con las manos vacías, reflexionando sobre una derrota decepcionante en su propio terreno.</p>
        <H3 >AQUI TIENES LOS MEJORES MOMENTOS</H3>
        <BR>
        <BR>
        <video class="container video"  controls src="videos/EXTENDED HIGHLIGHTS _ Manchester United vs Arsenal (0-1) _ Premier League (2).mp4" ></video>
     </div>  
{% endblock %}     