{% extends "base.html" %}

{% load static %}

{% block title %}
    Actualidad
{% endblock %}
{% block content %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="news-container">
              <!-- aqui empieza la noticia -->
              <h1>HABLA VÍCTIMA DE ENCERRONA TRAS SU MATRIMONIO: “ESPERO ALGÚN DÍA VENCER ESTE MIEDO Y RECUPERAR LA ESPERANZA”</h1>
              <br>
              <h2 class="cursiva texto-pequeno">
                Carlos Pinela, en una carta a El Mercurio, manifestó lo que le dejó ese violento hecho. 
                “Cuando se vive el horror de poder perder al núcleo familiar, y uno busca respuestas, 
                solo se escucha el eco de otras personas que han pasado por lo mismo, y uno se pregunta 
                sin esperanza, ¿por qué siguen creciendo los casos y la magnitud?”, expresó.
              </h2>
              <br>
              <img src="Imagenes/foto-portonazo.webp" alt="Imagen de la noticia" class="news-image img-fluid">
              <br><br>
              <p>“Espero, alguna vez, vencer este miedo”. Bajo este título Carlos Pinela víctima de una encerrona tras la celebración de su fiesta de matrimonio durante el fin de semana, alzó la voz a través de una carta a El Mercurio, y explicó su temor al aumento de la delincuencia y al conflicto legislativo en materia de seguridad.
                <br><br>
                El hecho ocurrió la madrugada del domingo, cuando Pinela y su esposa se dirigían en su vehículo a su domicilio, ubicado en la comuna de Peñalolén. En ese momento, fueron interceptados por un segundo móvil, desde el cual tres antisociales, quienes intentaron robar el automóvil de las víctimas.
                <br><br>
                Aunque los delincuentes no pudieron concretar el ilícito, el matrimonio sufrió lesiones por las agresiones con cuchillos. La mujer fue hospitalizada debido a las heridas de carácter grave, mientras que Pinela sufrió lesiones leves.
                <br><br>
                Pinela en la misiva señala que “no quería dar declaraciones por el asalto del que fuimos víctima después de mi matrimonio. No quería hablar. Por muchas razones. Una de las principales es que este país ya habla lo suficiente de delincuencia, y aun así sigue escalando la violencia”.
                <br><br>
                “Cuando se vive el horror de poder perder al núcleo familiar, y uno busca respuestas, solo se escucha el eco de otras personas que han pasado por lo mismo, y uno se pregunta sin esperanza, ¿por qué siguen creciendo los casos y la magnitud?”, sostuvo.
                <br><br>
                “La legislación en temas de seguridad en Chile se siente que avanza a punta de leyes con nombres propios. Yo no quiero ver la ley con nombre de mi esposa, hermana o mamá, de mis conocidos o no conocidos, que impulse una agenda que proteja la vida de inocentes. Los nombres de leyes no pueden avanzar en función de muertos; no es un cementerio ni una morgue”, agregó, consignó Emol.
                <br><br>
                “Me da miedo pensar que el país llegó al punto donde los muertos impulsen más ideas que los vivos”, señaló.
                <br><br>
                Pinela remarcó: “Siempre he sido optimista, pero después de este asalto me preocupa que seamos un país de mártires circunstanciales, y que mi potencial muerte sea solo una excusa política”.
                <br><br>
                Añadió que “me da miedo pensar que como país estamos tan polarizados que las personas que deberían hacer algo en seguridad no se puedan poner de acuerdo en un terror tan común y transversal”.
                <br><br>
                “Espero algún día vencer este miedo y recuperar la esperanza. De momento, me enfocaré en cuidar a mi familia, que se mejoren las tres mujeres más importantes de mi vida con las que pasé esto, y sanar las puñaladas que sufrimos”, completó.
              </p>
            </div>
          </div>
        </div>
      </div>

<!-- jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
{% endblock %}
