{% extends "base.html" %}

{% load static %}

{% block title %}
    PanelAministrador
{% endblock %}

{% block content %}
<div class="container mx-auto mt-5">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" id="VerMensajes">Ver Mensajes</button>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div id="Mensajes" class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark bg-primary text-white">
                <tr>
                    <th>ID Mensaje</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Asunto</th>
                    <th>Motivo</th>
                </tr>
            </thead>
            <tbody>
                {% for msj in mensajes %}
                <tr>
                    <td>{{ msj.id_mensaje }}</td>
                    <td>{{ msj.nombre }}</td>
                    <td>{{ msj.correo }}</td>
                    <td>{{ msj.asunto }}</td>
                    <td>{{ msj.motivo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container mx-auto mt-5">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" id="VerMensajes">Crear Noticia</button>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h1>Crear Noticia</h1>
    <form action="{% url 'PanelAdministrador' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_titulo">Título:</label>
        <input type="text" class="form-control" name="titulo" required>
      </div>
      <div class="form-group">
        <label for="id_descripcion">Descripción:</label>
        <textarea class="form-control" name="descripcion" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="id_tipo">Tipo de Noticia:</label>
        <select class="form-control" name="tipo" required>
            <option value="">Selecciona un asunto</option>
            {% for tipo in tipos %}
            <option value="{{ tipo.id_tipo }}">{{ tipo.tipo }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="id_imagen">Imagen:</label>
        <input type="file" class="form-control-file" name="imagen" accept="image/*" required>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}
