{% extends "base.html" %}

{% load static %}

{% block title %}
    Actualidad
{% endblock %}

{% block content %}

<br/>
<br/>
<h1 class="centrar">Actualidad</h1>
<br/>
<br/>
  <!-- INICIO CARRUSEL -->
<div class="container">
<div class="row justify-content-center">
  <div class="col-md-8">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/FOTO-CAPTURA-encerrona.webp' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/noticia2-inicio.webp' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/Noticia3-switch.webp' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
</div>
  
  
  
  




<script>
    // buscar carrusel
    var carousel = document.getElementById('carouselExampleIndicators');
    // intervalo
    setInterval(function () {
        // cambiar foto
        $(carousel).carousel('next');
    }, 3000); // 3000 milisegundos = 3 segundos
</script>

<br/>
<br/>
<br/>

<div class="container">
    <div class="latest-news-container">
      <h2 class="mt-4">Últimas Noticias</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-3">
            <a href="{% url 'noticiaEncerrona' %}">
              <img src="{% static 'img/FOTO-CAPTURA-encerrona.webp' %}" class="d-block w-100" alt="...">
            </a>            
            <div class="card-body">
              <p class="card-text">Habla víctima de encerrona tras su matrimonio...</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-3">
            <a href="{% url 'noticiaLula' %}">
              <img src="{% static 'img/noticia2-inicio.webp' %}" class="card-img-top" alt="...">
            </a>            
            <div class="card-body">
              <p class="card-text">LULA RETRASA SU VISITA A CHILE...</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-3">
            <a href="{% url 'noticiaNintendo' %}">
              <img src="{% static 'img/Noticia3-switch.webp' %}" class="card-img-top" alt="...">
            </a>            
            <div class="card-body">
              <p class="card-text">PRESIDENTE DE NINTENDO CONFIRMÓ QUE LA SUCESORA...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <div class="container">
    <div class="d-flex justify-content-center my-3">
      <button type="button" class="btn btn-primary">Ver todas las noticias</button>
    </div>
  </div>

    </div>
  </div>
</div>
</div>

<br/>
<br/>
{% endblock %}