{% extends "base.html" %}
{% load static %}

{% block title %}
    Contactanos
{% endblock %}

{% block content %}
<!-- contactanos-->
<div class="container-fluid mt-5 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {% if mensaje %}
                <div class="alert alert-{{ alerta_tipo }} alert-dismissible fade show" role="alert">
                    {{ mensaje }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <div class="section-title mb-0">
                    <h4 class="m-0 text-uppercase font-weight-bold">¡Contactanos!</h4>
                </div>
                <div id="contact-form" class="bg-white border border-top-0 p-4 mb-3">
                    <div class="mb-4">
                        <h6 class="text-uppercase font-weight-bold">Informacion de contacto</h6>
                        <p class="mb-4">Aquí puedes encontrar todas las formas de contacto con NewsCL. Queremos facilitar tu comunicación con nosotros, ya sea que tengas una consulta, comentario o sugerencia. Nos esforzamos en mantener una relación abierta y accesible con nuestros lectores y valoramos cada una de tus opiniones.</p>
                        <p>Puedes contactarnos a través de nuestro formulario de contacto en la página correspondiente, enviar un correo electrónico a nuestra dirección oficial, o interactuar con nosotros en nuestras redes sociales. Además, estamos disponibles para atenderte en horarios específicos vía telefónica para una respuesta más directa y personalizada.</p>
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-2">
                                <i class="fa fa-map-marker-alt text-primary mr-2"></i>
                                <h6 class="font-weight-bold mb-0">Nuestra oficina</h6>
                            </div>
                            <p class="m-0">Calle 123, Santiago, Chile.</p>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-2">
                                <i class="fa fa-envelope-open text-primary mr-2"></i>
                                <h6 class="font-weight-bold mb-0">Email</h6>
                            </div>
                            <p class="m-0">NewCL_Contacto.com</p>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-2">
                                <i class="fa fa-phone-alt text-primary mr-2"></i>
                                <h6 class="font-weight-bold mb-0">Llámanos</h6>
                            </div>
                            <p class="m-0">+56 623 623 62</p>
                        </div>
                    </div>
                    <h6 class="text-uppercase font-weight-bold mb-3">Tambien puedes enviar un ticket:</h6>
                    <form action="{% url 'contactanos' %}" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control p-4" placeholder="Nombre:" name="nombre" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control p-4" placeholder="Email:" name="correo" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="asunto">Asunto:</label>
                            <select class="form-control" name="asunto" id="asunto" required>
                                <option value="">Selecciona un asunto</option>
                                {% for asunto in asuntos %}
                                <option value="{{ asunto.id_asunto }}">{{ asunto.asunto }}</option>
                                {% endfor %}
                            </select>
                        </div>                        
                        <div class="form-group">
                            <textarea class="form-control" rows="4" placeholder="Mensaje:" name="motivo" required></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary font-weight-semi-bold px-4" style="height: 50px;" type="submit">Enviar Mensaje</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- redes -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">¡Síguenos!</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                            <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">6.241 Seguidores</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                            <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">15.000 Seguidores</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                            <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">15,645 Followers</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                            <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Suscriptores</span>
                        </a>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Anuncios</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <a href=""><img class="img-fluid" src="{% static 'img/publicidad1.webp' %}" alt=""></a>
                    </div>
                </div>
                <!-- tags -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-wrap m-n1">
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Actualidad</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Economía</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Deportes</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Tecnología</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Cultura</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Salud</a>
                        </div>
                    </div>
                </div>
                <!-- fin de tags -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (document.querySelector('.alert')) {
            document.querySelector('.alert').scrollIntoView({ behavior: 'smooth' });
        }
    });
</script>
{% endblock %}
