{% extends "base.html" %}

{% load static %}

{% block title %}
    Economia
{% endblock %}

{% block content %}

<!-- News With Sidebar Start -->
<div class="container-fluid mt-5 pt-3">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="row">
                  <div class="col-12">
                      <div class="section-title">
                          <h4 class="m-1 text-uppercase font-weight-bold">Economía</h4>

                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="position-relative mb-3">
                          <img class="img-fluid w-100" src="{% static 'img/Artículo-de-Economía.jpg' %}" style="object-fit: cover;">+
                          <div class="bg-white border border-top-0 p-4">
                              <div class="mb-2">
                                  <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="{% url 'economia'%}">Economia</a>
                                  <a class="text-body" href=""><small>3 de Julio, 2024</small></a>
                              </div>
                              <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{% url 'noticiaEconomia' %}">Dólar baja hasta su menor nivel desde enero...</a>
                          </div>
                          <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                              <div class="d-flex align-items-center">
                                  <img class="rounded-circle mr-2" src="{% static 'img/rene.jpg' %}" width="25" height="25" alt="">
                                  <small>Rene Puentes</small>
                              </div>
                              <div class="d-flex align-items-center">
                                  <small class="ml-3"><i class="far fa-eye mr-2"></i>1040</small>
                                  <small class="ml-3"><i class="far fa-comment mr-2"></i>230</small>
                              </div>
                          </div>
                      </div>






                  </div>
                  <div class="col-lg-6">
                      <div class="position-relative mb-3">
                          <img class="img-fluid w-100" src="{% static 'img/elidecaso.webp' %}" style="object-fit: cover;">
                          <div class="bg-white border border-top-0 p-4">
                              <div class="mb-2">
                                  <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="{% url 'economia'%}">Economia</a>
                                  <a class="text-body" href=""><small>1 de Julio, 2024</small></a>
                              </div>
                              <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{% url 'noticiaeli' %}">Eli De Caso reveló complejo momento economico...</a>
                          </div>
                          <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                              <div class="d-flex align-items-center">
                                  <img class="rounded-circle mr-2" src="{% static 'img/rene.jpg' %}" width="25" height="25" alt="">
                                  <small>Rene Puentes</small>
                              </div>
                              <div class="d-flex align-items-center">
                                  <small class="ml-3"><i class="far fa-eye mr-2"></i>3100</small>
                                  <small class="ml-3"><i class="far fa-comment mr-2"></i>230</small>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="position-relative mb-3">
                          <img class="img-fluid w-100" src="{% static 'img/Multimillonarios.webp' %}" style="object-fit: cover;">
                          <div class="bg-white border border-top-0 p-4">
                              <div class="mb-2">
                                  <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="{% url 'economia'%}">Economia</a>
                                  <a class="text-body" href=""><small>5 de Julio, 2024</small></a>
                              </div>
                              <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="{% url 'noticiaMonroe' %}">Multimillonarios compraron casa de Marilyn Monroe...</a>
                          </div>
                          <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                              <div class="d-flex align-items-center">
                                  <img class="rounded-circle mr-2" src="{% static 'img/rene.jpg' %}" width="25" height="25" alt="">
                                  <small>Rene Puentes</small>
                              </div>
                              <div class="d-flex align-items-center">
                                  <small class="ml-3"><i class="far fa-eye mr-2"></i>1500</small>
                                  <small class="ml-3"><i class="far fa-comment mr-2"></i>90</small>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="position-relative mb-3">
                          <img class="img-fluid w-100" src="{% static 'img/actualidadextra.webp' %}" style="object-fit: cover;">
                          <div class="bg-white border border-top-0 p-4">
                              <div class="mb-2">
                                  <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="{% url 'economia'%}">Economia</a>
                                  <a class="text-body" href=""><small>2 de Julio, 2024</small></a>
                              </div>
                              <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="">TRIBUNAL DECLARÓ CULPABLE A IMPUTADO...</a>
                          </div>
                          <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                              <div class="d-flex align-items-center">
                                <img class="rounded-circle mr-2" src="{% static 'img/rene.jpg' %}" width="25" height="25" alt="">
                                <small>Rene Puentes</small>
                              </div>
                              <div class="d-flex align-items-center">
                                  <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                  <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <!-- redes -->
                  <div class="mb-3">
                      <div class="section-title mb-0">
                          <h4 class="m-0 text-uppercase font-weight-bold">¡Síguenos!</h4>
                      </div>
                      <div class="bg-white border border-top-0 p-3">
                          <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                              <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                              <span class="font-weight-medium">6.241 Seguidores</span>
                          </a>
                          <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                              <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                              <span class="font-weight-medium">15.000 Seguidores</span>
                          </a>
                          <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                              <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                              <span class="font-weight-medium">15,645 Followers</span>
                          </a>
                          <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                              <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                              <span class="font-weight-medium">12,345 Suscriptores</span>
                          </a>
                      </div>
                  </div>
                
                  <!-- anuncios :D -->
                  <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Anuncios</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <a href=""><img class="img-fluid" src="{% static 'img/publicidad1.webp' %}" alt=""></a>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                      <a href=""><img class="img-fluid" src="{% static 'img/publicidad2.jpg' %}" alt=""></a>
                  </div>
                </div>
                <!-- fin anuncios -->
                
                
                <!-- tagsss -->
                
                  <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-wrap m-n1">
                          <a href="" class="btn btn-sm btn-outline-secondary m-1">Actualidad</a>
                          <a href="" class="btn btn-sm btn-outline-secondary m-1">Economía</a>
                          <a href="" class="btn btn-sm btn-outline-secondary m-1">Deportes</a>
                          <a href="" class="btn btn-sm btn-outline-secondary m-1">Tecnología</a>
                          <a href="" class="btn btn-sm btn-outline-secondary m-1">Cultura</a>
                          <a href="" class="btn btn-sm btn-outline-secondary m-1">Salud</a>

                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
                  <!-- fin de tags -->
              </div>
            </div>
             
                  

{% endblock %}