{% extends "base.html" %}

{% load static %}

{% block title %}
    Home
{% endblock %}
{% block content %}


  <!-- carrusel y fotos inicio -->
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 px-0">
            <div class="owl-carousel main-carousel position-relative">
                <div class="position-relative overflow-hidden" style="height: 500px;">
                    <img class="img-fluid h-100" src="{% static 'img/portonazo2.jpg' %}" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="{% url 'actualidad'%}">Actualidad</a>
                            <a class="text-white" href="">3 de Julio, 2024</a>
                        </div>
                        <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="{% url 'noticiaEncerrona'%}">HABLA VÍCTIMA DE ENCERRONA TRAS SU MATRIMONIO...</a>
                    </div>
                </div>

                  <div class="position-relative overflow-hidden" style="height: 500px;">
                      <img class="img-fluid h-100" src="{% static 'img/noticia2-inicio.webp' %}" style="object-fit: cover;">
                      <div class="overlay">
                          <div class="mb-2">
                              <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="{% url 'actualidad'%}">Actualidad</a>
                              <a class="text-white" href="">4 de Julio, 2023</a>
                          </div>
                          <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="{% url 'noticiaLula'%}">LULA RETRASA SU VISITA A CHILE...</a>
                      </div>
                  </div>

                  <div class="position-relative overflow-hidden" style="height: 500px;">
                      <img class="img-fluid h-100" src="{% static 'img/Noticia3-switch.webp' %}" style="object-fit: cover;">
                      <div class="overlay">
                          <div class="mb-2">
                              <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="{% url 'actualidad'%}">Actualidad</a>
                              <a class="text-white" href="">5 de Julio, 2024</a>
                          </div>
                          <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="{% url 'noticiaNintendo'%}">PRESIDENTE DE NINTENDO CONFIRMÓ QUE LA SUCESORA...</a>
                      </div>
                  </div>
              </div>
          </div>
<!-- Cards pequeñas -->
        <div class="col-lg-5 px-0">
            <div class="row mx-0">
                <div class="col-md-6 px-0">
                    <div class="position-relative overflow-hidden" style="height: 250px;">
                        <img class="img-fluid w-100 h-100" src="{% static 'img/Arsenal.jpg' %}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                  href="{% url 'deporte'%}">Deporte</a>
                                <a class="text-white" href=""><small></small>4 de Julio, 2024</a>
                            </div>
                            <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{% url 'noticiaArsenal'%}">Victoria del Arsenal en old Traford...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="position-relative overflow-hidden" style="height: 250px;">
                        <img class="img-fluid w-100 h-100" src="{% static 'img/elidecaso.webp ' %}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                  href="{% url 'economia'%}">Economia</a>
                                <a class="text-white" href=""><small></small>3 de Julio, 2024</a>
                            </div>
                            <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{% url 'noticiaeli'%}">ELI DE CASO REVELÓ COMPLEJO MOMENTO ECONÓMICO...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="position-relative overflow-hidden" style="height: 250px;">
                        <img class="img-fluid w-100 h-100" src="{% static 'img/Alejandro-Tabilo-1.jpg ' %}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                  href="{% url 'deporte'%}">Deporte</a>
                                <a class="text-white" href=""><small></small>2 de Julio, 2024</a>
                            </div>
                            <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{% url 'noticiaTenis'%}">ALEJANDRO TABILO VENCE A NOVAK DJOKOVIC...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="position-relative overflow-hidden" style="height: 250px;">
                        <img class="img-fluid w-100 h-100" src="{% static 'img/basketboll.webp' %}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                  href="{% url 'deporte'%}">Deporte</a>
                                <a class="text-white" href=""><small></small>1 de Julio, 2024</a>
                            </div>
                            <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{% url 'noticiaBasketball'%}">SANCIÓN DE CUATRO PARTIDOS PARA BEVERLEY...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- fin cards -->

<!-- ultimas noticias -->
<div class="container-fluid bg-dark py-3 mb-3">
  <div class="container">
      <div class="row align-items-center bg-dark">
          <div class="col-12">
              <div class="d-flex justify-content-between">
                  <div class="bg-primary text-dark text-center font-weight-medium py-2" style="width: 170px;">Ultimas Noticias</div>
                  <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center ml-3"
                      style="width: calc(100% - 170px); padding-right: 90px;">
                      <div class="text-truncate"><a class="text-white text-uppercase font-weight-semi-bold" href="">HABLA VÍCTIMA DE ENCERRONA TRAS SU MATRIMONIO: “ESPERO ALGÚN DÍA VENCER ESTE MIEDO Y RECUPERAR LA ESPERANZA”</a></div>
                      <div class="text-truncate"><a class="text-white text-uppercase font-weight-semi-bold" href="">PRESIDENTE DE NINTENDO CONFIRMÓ QUE LA SUCESORA DE NINTENDO SWITCH SERÁ ANUNCIADA ESTE AÑO</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- fin ultimas noticias-->

{% endblock %}
