{% extends "base.html" %}

{% block title %}
    Iniciar Sesión
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white text-center h3">Iniciar Sesión</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        {% if messages %}
                            <div class="alert alert-danger mt-3">
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </form>
                    <br/>
                    <div class="register-link">
                        <p>¿No tienes una cuenta? <a href="{% url 'registrar' %}">Regístrate aquí</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
