{% extends "base.html" %}

{% block title %}
    Iniciar Sesión
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-black text-center nav-item nav-link h3">Início de sesión </div>

                <div class="card-body">
                    <form method="POST" action="{% url 'Iniciar_sesion' %}">
                        {% csrf_token %}
                        <div class="form-group">

                            Usuario:<input type="text" class="form-control" name="username">
                        </div>


                        <div class="form-group">

                            Contraseña:<input type="password" class="form-control"  name="password" >
                        </div>


                        <button type="submit" class="btn btn-primary btn-block d-flex justify-content-center align-items-center">Início</button>

                        {% if Error %}
                            <h3>  {{Error}}      </h3>
                        {% endif %}
                    </form>
                    <br/>
                    <div class="register-link">
                        <p>¿No tienes una cuenta? <a href="{% url 'registrar' %}">Regístrate aquí</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}