{% extends "base.html" %}

{% block title %}
    Iniciar Sesión
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-black text-center nav-item nav-link h3">Administrador</div>

                <div class="card-body">
                    <form method="POST" action="{% url 'Iniciar_sesion' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Usuario</label>
                            <input type="text" class="form-control" name="username" id="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" name="password" id="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block d-flex justify-content-center align-items-center">Início</button>

                        {% if Error %}
                            <div class="alert alert-danger mt-3 text-center">{{ Error }}</div>
                        {% endif %}
                    </form>
                    <br/>
                    <!--                     <div class="register-link text-center">
                        <p>¿No tienes una cuenta? <a href="{% url 'registrar' %}">Regístrate aquí</a></p>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}