{% extends "base.html" %}

{% load static %}

{% block title %}
    Register
{% endblock %}
{% block content %}

<!-- Register Form -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-black text-center nav-item nav-link h3">Registrar</div>

                <div class="card-body">
                    <form method="POST" action="{% url 'registrar' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            
                            Usuario:<input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="email" class="form-control" name="email" >
                        </div>
                        <div class="form-group">
                            
                            Contraseña:<input type="password" class="form-control"  name="password1" >
                        </div>

                        <div class="form-group">
                            
                            Confirmar contraseña:<input type="password" class="form-control"  name="password2" >
                        </div>
                        <button type="submit" class="btn btn-primary btn-block d-flex justify-content-center align-items-center">Registrar</button>

                        {% if Error %}
                            <h3>  {{Error}}      </h3>
                        {% endif %}



                      
                    </form>
                    <br/>
                    <div class="login-link">
                        <center>
                            <p>¿Ya tienes una cuenta? <a href="{% url 'Iniciar_sesion' %}">Inicia sesión aquí</a></p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
