{% extends "base.html" %}

{% load static %}

{% block title %}
    Register
{% endblock %}
{% block content %}

<!-- Register Form -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-black text-center nav-item nav-link h3">Registrar</div>

                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert text-center" style="color: {% if message.tags == 'error' %}#a94442{% elif message.tags == 'success' %}#3c763d{% endif %}; background-color: {% if message.tags == 'error' %}#f2dede{% elif message.tags == 'success' %}#dff0d8{% endif %}; border-color: {% if message.tags == 'error' %}#ebccd1{% elif message.tags == 'success' %}#d6e9c6{% endif %}; padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px;">
                                {{ message }}
                                {% if message.tags == 'success' %}
                                    <br>
                                    <a href="{% url 'Iniciar_sesion' %}">Inicia sesión aquí</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="POST" action="{% url 'registrar' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Usuario</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="email" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label for="password1">Contraseña</label>
                            <input type="password" class="form-control" name="password1">
                        </div>
                        <div class="form-group">
                            <label for="password2">Confirmar contraseña</label>
                            <input type="password" class="form-control" name="password2">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block d-flex justify-content-center align-items-center">Registrar</button>
                    </form>
                    <br/>
                    <div class="login-link">
                        <center>
                            <p>¿Ya tienes una cuenta? <a href="{% url 'Iniciar_sesion' %}">Inicia sesión aquí</a></p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
